<!DOCTYPE html>
<html>
  <head>
    <title>Vehicle Information</title>
    <div style = "position:relative; left:250px; top:10%;"> <h1>Vehicle Information search</h1></div>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>
  <body>
  <form action="http://0.0.0.0:5000/vehicle" method="post">
    <div class="container h-100">
      <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
          <input class="search_input" type="text" name="url" placeholder="Search...">
          <a href="#" class="search_icon" method = "post"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </div>
    </form>
  </body>
</html>


<!---
<html>  
   <body>  
      <form action = "http://localhost:5000/vmaf" method = "post">  
         <table>  
        <tr><td>Name</td>  
        <td><input type ="text" name ="uname"></td></tr>  
        <tr><td>Password</td>  
        <td><input type ="password" name ="pass"></td></tr>  
        <tr><td><input type = "submit"></td></tr>  
    </table>  
      </form>  
   </body>  
</html>
-->
